<html>

	<body>

		<main>

			<h1>Liste des articles</h1>

			{% for article in articles %}

				{% if article.is_published%}

					<article>

						<h2>{{ article.title }}</h2>

						<p>{{ article.content }}</p>

						<p>{{ article.created_at | date('d-m-Y')}}

						<img src="{{ article.image }}" />

					</article>
				
				{% endif %}
				
			{% endfor %}

		</main>

	</body>

</html>