<html>

	<body>

		<main>

			<h1>Liste des articles</h1>


			{% for article in articles %}

			<article>

				<h2>{{ article.title }}</h2>
				
			</article>
			{% endfor %}

		</main>

	</body>

</html>